.container {
  position: relative;
  // padding: 50px 30px;
  background: url('/images/guessing_bg.jpg') no-repeat;
  background-size: 100% ;
  // min-height: 100vh;
  overflow: hidden;
  // min-height: calc(100vh - 400px);
  // background-color: #000;
  height:-webkit-fill-available;
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    color: #535355;
    background: url('/images/timi.png') no-repeat;
    background-size: 100% 100%;

    .go_back {
      width: 110px;
      height: 110px;
      margin-left: 20px;
      margin-top: 28px;
      padding-top: 45px;
      padding-left: 16px;
      text-align: center;
      font-family: $font-zhengdao;
      font-size: 26px;
      box-sizing: border-box;
      img {
        width: 50px;
        height: 30px;
      }
    }
    .countdown {
      flex: 1;
      height: 140px;
      font-size: 46px;
      font-family: $font-nba;
      margin-top: 20px;
      padding: 0 20px;
      padding-top: 32px;
      box-sizing: border-box;
      .end_time {
        display: flex;
        justify-content: space-between;
      }

      .desc {
        font-family: $font-zhengdao;
        font-size: 26px;

        text-align: center;

        padding-left: 17px;
        padding-top: 10px;
      }
    }
    .date {
      font-family: $font-zhengdao;

      width: 155px;
      height: 92px;

      margin-right: 34px;
      margin-top: 27px;
      padding: 14px 15px;

      box-sizing: border-box;

      .day {
        font-size: 20px;
        color: #7a7c7e;
      }

      .time {
        font-size: 35px;
        color: #797c89;
        padding-left: 35px;
        padding-top: 4px;
      }
    }
  }

  .result-wrap {
    padding: 0 15px;
    margin-bottom: 30px;
    // display: none;
    .content {
      display: flex;
      width: 100%;
      height: 80px;
      align-items: center;
      box-sizing: border-box;
      padding-left: 23px;
      font-size: 40px;
      font-family: ZhengDaoTi;
      font-weight: 400;
      color: #FFFFFF;
      background: url('/images/result.png') no-repeat;
      background-size: 100% 100%;

      p {
        position: relative;
        width: 130px;
        margin: 0 22px;
        .logo {
          position: absolute;
          top: -50px;
          width: 90px;
          height: auto;
        }
      }

      
    }
  }

  .team {
    position: relative;
    margin-top: 10px;
    width: 880px;
    transform: scale(0.85);
    transform-origin: 0 0;
    z-index: 2;
  }

  .logo_bg {
    position: absolute;

    top: 45%;
    left: 20px;

    width: 70px;
    height: 250px;

    background: url('../../assets/images/bg_logo.png');

    background-size: 100% 100%;
  }

  .race {
    position: absolute;
    top: 48%;
    right: 0;
    width: 70px;
    height: 200px;
    background: url('../../assets/images/race.png');
    background-size: 100% 100%;
  }
  .submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 20;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    .logo{
      width: 480px;
      height: 70px;
    }
    .btn { 
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 80px;
      font-family: $font-ximai;
      font-size: 34px;
      color: #fff;
      background: url('../../assets/images/btn_bg.png');
      background-size: 100% 100%;
    }
  }
}
:deep(.van-count-down) {
  display: flex;
  width: 100%;
  font-size: 46px;
  .day_1 {
    width: 35.5%;
    padding-top: 6px;
    box-sizing: border-box;
    text-align: center;
  }

  .time_1 {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    margin-right: 6px;
    span {
      flex: 1;
      text-align: center;
    }
    span:nth-child(1) {
      padding-left: 26px;
    }
    span:nth-child(2) {
      padding-left: 10px;
    }
    span:nth-child(3) {
      padding-left: 8px;
    }
  }
}
